body {
  font-family: Arial, sans-serif;
  background-color: #a33a9a;
  padding: 20px;
}


h1 {
    color: yellowgreen;
    color: rebeccapurple;
    color: red;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px 0;
}